@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: "orbitron";
}

body {
	display: flex;
	background-color: #000000;
	align-items: center;
	flex-direction: column;
	font-family: 'Gothic A1', sans-serif;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
}

.user-info-container {
	margin-top: 150px;
	background-color: #222;
	border-radius: 10px;
	width: 600px;
	height: 550px;
	color: #fff;
}

.user-info-container h2 {
	margin-left: 30px;
	margin-top: 30px; 
	margin-bottom: 30px; 
}

.user-info-container hr {
	border-color: #686868;
	margin: 0 10px;
}

.user-info-container h3 {
	margin-left: 60px;
	margin-top: 30px;
}

.user-info-container table {
	margin-left: 30px;
	margin-top: 30px;
	border-collapse: collapse;
}

.user-info-container table th {
	text-align: left;
	vertical-align: center;
	height: 50px;
	border-right: 1px solid #686868;
	padding-left: 30px;
	padding-right: 30px;
	color: #686868;
}

.user-info-container table td {
	font-size: 16px;
	padding-left: 30px;
	vertical-align: center;
}

.user-info-container table td input {
	background-color: #000;
	color: #fff;
	border: none;
	width: 200px;
  	height: 35px;
  	padding: 0 10px;
}

.user-info-container table td span#changePwError {
	color: #fd4d1a;
	font-weight: 500;
}

.user-info-container table td button {
	color: #fff;
	background-color: #222;
	border: none;
	cursor: pointer;
}

.button-container {
    text-align: center;
    margin-top: 20px; /* Adjust this margin as needed */
}

.user-info-container button#submit {
	width: 100px;
	height: 40px;
	color: #fff;
	background-color: #000;
	border: none;
	margin-top: 20px;
	align-items: center;
}