/* body */
body {
	margin: 0;
	padding: 0;
	background-color: #000;
	color: #fff;
}

/* 영화 정보 출력 부분 */
#movieContainer {
	width: 1200px;
	display: grid;
	grid-template-columns: repeat(5, 1fr); /* 한 행에 5개의 열을 가지도록 설정 */
	gap: 10px;
	justify-content: center;
	margin: 180px auto 40px; /* auto로 좌우 여백 동일하게 부여 */
}

.movie-info {
	width: 200px;
	border: none;
	padding: 5px;
	font-size: 15px;
	position: relative; /* overview가 있을 위치를 지정하기 위해 */
}

#movieContainer>.movie-info:nth-child(5n) {
	margin-right: 0; /* 5번째 열마다 더 이상 오른쪽 여백이 필요하지 않도록 설정 */
}

#poster {
	transition: opacity 0.3s ease-out;
	border-radius: 10px;
	width: 200px;
	height: 300px;
}

.detail {
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.detail:hover {
	text-decoration: underline;
	cursor: pointer; /* 마우스 포인터 손모양으로 변경 */
}

.movie-info:hover #poster {
	opacity: 0.2; /* 포스터 이미지를 톤 다운 */
	cursor: pointer;
}

.average {
	color: red;
}

.release {
	color: #8C8C8C;
}

/* 영화 상세 정보 출력 부분 */
.movie-info .overview {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 160px;
	max-height: 260px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	white-space: normal;
	padding: 20px;
	font-size: 14px;
	line-height: 1.5;
}

.movie-info:hover .overview {
	display: block;
	cursor: pointer;
}

/* 페이지 이동 버튼 */
.move2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

#prevBtn, #nextBtn {
	background: #fff;
	color: #000;
	padding: 10px 15px;
	border: none;
	z-index: 1;
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
}

#currentPage{
	color: #fff;
	margin: 20px;
	font-weight: bold;
	font-size: 15px;
}

#prevBtn:hover, #nextBtn:hover {
	cursor: pointer;
	background: transparent;
	color: #fff;
}

#prevBtn:disabled, #nextBtn:disabled {
	background: transparent;
	color: transparent;
}